@page "/ShowOneEquipe/{id}"
@inherits ShowOneEquipeCode
@inject HttpClient Http
@inject Server apiUrl

<h1>Coucou c les @_equipe.nom</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in _equipe.users)
    {
        <tr>
            <td>@user.id</td>
            <td>@user.nom</td>
            <td>@user.prenom</td>
            <td>@user.point</td>
        </tr>
    }
    </tbody>
</table>


@code{
    Equipe _equipe = new();
    int totalPointsEquipe;

    protected override async Task OnInitializedAsync()
    {
        _equipe = await Http.GetFromJsonAsync<Equipe>(apiUrl.getUrl() + "equipe/" + Id);
        foreach (var user in _equipe.users)
        {
            totalPointsEquipe += user.point;
        }
        var totalPoints = new User(totalPointsEquipe);
        _equipe.users.Add(totalPoints);
    }

}