@page "/Home"
@using Blazored.LocalStorage
@inject HttpClient http
@inject ISyncLocalStorageService localStorage
@inject NavigationManager NavManager
@inject Server apiUrl
<h3>Home</h3>

@if (isAdmin)
{
    <p>Admin</p>
}
else
{
    <MudTable Items="_userAvantages">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Libelle</MudTh>
            <MudTh>Commentaire</MudTh>
            <MudTh>Points</MudTh>
            <MudTh>Date</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.id</MudTd>
            <MudTd DataLabel="Libelle">@context.avantage.libelle</MudTd>
            <MudTd DataLabel="Commentaire">@(context.commentaire.Length != 0 ? context.commentaire : "Pas de commentaire")</MudTd>
            <MudTd DataLabel="Points">@context.points</MudTd>
            <MudTd DataLabel="Date">@context.created.Value.Date.ToString("dd/MM/yyyyy")</MudTd>
        </RowTemplate>
    </MudTable>
    <br/>
    <p>Total de points : @totalPoints</p>
    <p>Prix prix de la licence : @equipeJoueur.cotisationBase</p>
    <p>Prix licence avec réduction : @(equipeJoueur.cotisationBase - (totalPoints * 0.10)) </p>
}


@code {
    List<UserAvantage> _userAvantages;
    Equipe equipeJoueur;
    private bool isAdmin;
    private int totalPoints;

    protected override async Task OnInitializedAsync()
    {
        if (localStorage.GetItem<string>("user_id") != null)
        {
            if (localStorage.GetItem<string>("user_roles") != "Admin")
            {
                _userAvantages = await http.GetFromJsonAsync<List<UserAvantage>>(apiUrl.getUrl() + "utilisateurs/avantages/valide/" + localStorage.GetItem<int>("user_id"));
                foreach (UserAvantage userAvantage in _userAvantages)
                {
                    totalPoints += userAvantage.points;
                }
                equipeJoueur = await http.GetFromJsonAsync<Equipe>(apiUrl.getUrl() + "get-user-equipe/" + localStorage.GetItem<int>("user_id"));
            }
            else
            {
                isAdmin = true;
            }
        }
        else
        {
            
        }
    }

}