@page "/Home"
@using System.Net
@using System.Text.Json
@using System.Text.Json.Nodes
@using System.IO;
@using Newtonsoft.Json;
@inject HttpClient http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager NavManager
<h3>Home</h3>
<table class="table table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Libelle</th>
        <th>Commentaire</th>
        <th>Points</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (UserAvantage userAvantage in _userAvantages)
        {
            <td>@userAvantage.id</td>
            <td>@_avantages.Find(x => x.id == userAvantage.idAvantage).libelle</td>
            @if (userAvantage.commentaire != "")
            {
                <td>@userAvantage.commentaire</td>
            }
            else
            {
                <td>Pas de commentaire</td>
            }
            <td>@userAvantage.points</td>
            <td>@userAvantage.created</td>
        }
    </tr>
    </tbody>  
</table>


@code {
    List<UserAvantage> _userAvantages;
    List<Avantage> _avantages;
    protected override async Task OnInitializedAsync()
    {
        if (localStorage.GetItem<string>("user_id") != null)
        {
            _userAvantages = await http.GetFromJsonAsync<List<UserAvantage>>("https://localhost:8000/avantage-user/" + localStorage.GetItem<int>("user_id"));
            Console.WriteLine("Alo" + _userAvantages);
            _avantages = await http.GetFromJsonAsync<List<Avantage>>("https://localhost:8000/avantages");
        }
        else
        {
            Console.WriteLine("Pas d'id");
            NavManager.NavigateTo("/login");
        }
    }
}