@using Blazored.LocalStorage
@inject ISyncLocalStorageService localStorage
@inject NavigationManager NavManager
@inject Server apiUrl
@inject HttpClient Http

<div class="nav-container red" style="padding: @padding">
    <div>
        @if (localStorage.GetItemAsString("token") != null)
        {
            <div class="logs">
                <span class="">@Convert.ToString(localStorage.GetItem<string>("user_nom"))</span>
                <NavLink href="login">
                    <span class="btn btn-success" @onclick="logOut">Se déconnecter</span>
                </NavLink>
            </div>
        }
        else
        {
            <div class="logs">
                <NavLink href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Se connecter
                </NavLink>
            </div>
        }
    </div>
    <div class="topBotomBordersIn">
        <NavLink class="nav-link1" href="home" Match="NavLinkMatch.All">
            <MudIcon Icon="@Icons.Material.Filled.Home"/> Home
        </NavLink>
        @if (isAdmin)
        {
            <NavLink class="nav-link1" href="equipe">
                <MudIcon Icon="@Icons.Material.Filled.Group"/> Equipe
            </NavLink>
            <NavLink class="nav-link1" href="avantages">
                <MudIcon Icon="@Icons.Material.Filled.Checklist"/> Avantages
            </NavLink>
            <NavLink class="nav-link1" href="users">
                <MudIcon Icon="@Icons.Material.Filled.Person"/> Utilisateurs
            </NavLink>
            <NavLink class="nav-link1" href="valider">
                <MudBadge Content="@nbAvantagePasValide" Overlap="true" Color="Color.Primary" Class="mx-6 my-4" Style="margin: 0">
                    <MudIcon Icon="@Icons.Material.Filled.Check"/> Valider
                </MudBadge>
            </NavLink>
        }
    </div>
</div>

@code {

    private bool collapseNavMenu = true;
    private bool isAdmin = false;
    private int nbAvantagePasValide;
    private string padding = "0";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected async override void OnInitialized()
    {
    
        if (localStorage.GetItem<string>("user_roles") == "Admin")
        {
            isAdmin = true;
        }
        else
        {
            padding = "10px";
        }
        nbAvantagePasValide = await Http.GetFromJsonAsync<int>(apiUrl.getUrl() + "nb-avantages-non-valide");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void logOut()
    {
        localStorage.Clear();
        NavManager.NavigateTo("/login", forceLoad: true);
    }
}